@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark ::selection {
  background: #BABB9B;
  color: #252118;
}

::selection {
  background: #434E16;
  color: #E7E3DA;
}
.dark::-moz-selection { 
  background: #BABB9B;
  color: #252118;
}
::-moz-selection { 
  background: #434E16;
  color: #E7E3DA;
}

*{
  transition:
  color .07s,
  background-color 0.5s;
}


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.albert-sans-sub {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.wavy-decoration{
  text-decoration: underline;
  transform: translateY(7px);
}
.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.btn:hover{
  transform: translateY(-3px);
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(117, 109, 109, 0.5);
}
.dark .btn{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn{
  transition: all 0.5s ease;
}

.btn-1{
  background-color: none;
  color:#434E16;
  box-shadow: inset 0 0 0 0 #59671D;
  transition: ease-out 0.3s;
}
.btn-1:hover{
  box-shadow: inset 0px 50px 0px 0px #BABB9B;
}

.dark .btn-1{
  background-color: none;
  color:#BABB9B;
  box-shadow: inset 0 0 0 0 #394413;
  transition: ease-out 0.3s;
}
.dark .btn-1:hover{
  box-shadow: inset 0px 50px 0px 0px #434E16;
}

.btn-2:hover{
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.btn-2{
  transition: all 0.5s ease;
}
hr.solid {
  border-top: 1px solid #59671D;
}
.dark hr.solid {
  border-top: 1px solid #BABB9B;
}
.link-hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #252118;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s ease;
}

.link-hover:hover::after,
.link-hover:focus::after {
  opacity: 1;
  transform: scaleX(1);
}
.work-shadow:hover {
  box-shadow: 
    0px 20px 20px -25px #1a1610,
    0px -20px 20px -25px #1a1610;
}

.dark .link-hover::after {
  background-color: #E7E3DA;
}

.link-hover:hover::after,
.link-hover.underline::after {
  width: 100%; 
  left: 0;
  transform: none;
}

.dark .footer-name {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #252118;
}

.footer-name {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #E7E3DA;
}

.footer-name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 0;
  background-image: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="%23E7E3DA" stroke="%23E7E3DA" stroke-width="1.8">\
        <path d="M27 23c-2.589 0-4.005-2.549-5.374-5.014C20.537 16.026 19.411 14 18 14c-1.412 0-2.537 2.026-3.626 3.986C13.004 20.451 11.588 23 9 23c-2.65 0-3.853-2.706-4.914-5.094C3.038 15.546 2.256 14 1 14a1 1 0 0 1 0-2c2.65 0 3.853 2.706 4.914 5.094C6.962 19.453 7.744 21 9 21c1.412 0 2.537-2.026 3.626-3.986C13.996 14.549 15.412 12 18 12c2.589 0 4.005 2.549 5.374 5.014C24.463 18.974 25.589 21 27 21c1.256 0 2.037-1.547 3.086-3.906C31.147 14.706 32.351 12 35 12a1 1 0 1 1 0 2c-1.256 0-2.037 1.546-3.086 3.906C30.853 20.294 29.649 23 27 23z"/>\
      </svg>');
  background-repeat: repeat-x;
  background-size: contain;
  transition: width 0.3s ease;
  transform: translateY(7px);
}

.dark .footer-name::after {
  background-image: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="%23252118" stroke="%23252118" stroke-width="1.8">\
        <path d="M27 23c-2.589 0-4.005-2.549-5.374-5.014C20.537 16.026 19.411 14 18 14c-1.412 0-2.537 2.026-3.626 3.986C13.004 20.451 11.588 23 9 23c-2.65 0-3.853-2.706-4.914-5.094C3.038 15.546 2.256 14 1 14a1 1 0 0 1 0-2c2.65 0 3.853 2.706 4.914 5.094C6.962 19.453 7.744 21 9 21c1.412 0 2.537-2.026 3.626-3.986C13.996 14.549 15.412 12 18 12c2.589 0 4.005 2.549 5.374 5.014C24.463 18.974 25.589 21 27 21c1.256 0 2.037-1.547 3.086-3.906C31.147 14.706 32.351 12 35 12a1 1 0 1 1 0 2c-1.256 0-2.037 1.546-3.086 3.906C30.853 20.294 29.649 23 27 23z"/>\
      </svg>');
}

.footer-name:hover::after {
  width: 100%;
  transform: translateY(7px);
}

.dark .nav-name {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #E7E3DA;
}

.nav-name {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #252118;
}

.nav-name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 0;
  background-image: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="%23E7E3DA" stroke="%23E7E3DA" stroke-width="1.8">\
        <path d="M27 23c-2.589 0-4.005-2.549-5.374-5.014C20.537 16.026 19.411 14 18 14c-1.412 0-2.537 2.026-3.626 3.986C13.004 20.451 11.588 23 9 23c-2.65 0-3.853-2.706-4.914-5.094C3.038 15.546 2.256 14 1 14a1 1 0 0 1 0-2c2.65 0 3.853 2.706 4.914 5.094C6.962 19.453 7.744 21 9 21c1.412 0 2.537-2.026 3.626-3.986C13.996 14.549 15.412 12 18 12c2.589 0 4.005 2.549 5.374 5.014C24.463 18.974 25.589 21 27 21c1.256 0 2.037-1.547 3.086-3.906C31.147 14.706 32.351 12 35 12a1 1 0 1 1 0 2c-1.256 0-2.037 1.546-3.086 3.906C30.853 20.294 29.649 23 27 23z"/>\
      </svg>');
  background-repeat: repeat-x;
  background-size: contain;
  transition: width 0.3s ease;
  transform: translateY(7px);
}

.dark .nav-name::after {
  background-image: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="%23252118" stroke="%23252118" stroke-width="1.8">\
        <path d="M27 23c-2.589 0-4.005-2.549-5.374-5.014C20.537 16.026 19.411 14 18 14c-1.412 0-2.537 2.026-3.626 3.986C13.004 20.451 11.588 23 9 23c-2.65 0-3.853-2.706-4.914-5.094C3.038 15.546 2.256 14 1 14a1 1 0 0 1 0-2c2.65 0 3.853 2.706 4.914 5.094C6.962 19.453 7.744 21 9 21c1.412 0 2.537-2.026 3.626-3.986C13.996 14.549 15.412 12 18 12c2.589 0 4.005 2.549 5.374 5.014C24.463 18.974 25.589 21 27 21c1.256 0 2.037-1.547 3.086-3.906C31.147 14.706 32.351 12 35 12a1 1 0 1 1 0 2c-1.256 0-2.037 1.546-3.086 3.906C30.853 20.294 29.649 23 27 23z"/>\
      </svg>');
}

.nav-name:hover::after {
  width: 100%;
  transform: translateY(7px);
}


body {
  background-color: #E7E3DA; 
  color:#252118
}

.dark body {
  background-color: #252118; 
  color: #E7E3DA;
}

html, body{
  scroll-behavior:smooth;
}
